@page "/editgpu"
@page "/editgpu/{id:int}"
@using GPUTestAnalysisFeb5.Shared.Entity
@using GPUTestAnalysisFeb5.Shared.Services
@using Microsoft.AspNetCore.Components.Forms
@inject IGPUService GPUService
@rendermode InteractiveWebAssembly

@if(Id == null)
{
    <h3>Create a GPU</h3>
}
else
{
    <h3>Edit @gpu.Type</h3>
}

<EditForm Model="gpu" OnSubmit="HandleSubmit" FormName="editGPU" class="col-3">
    <label for="formGroupNewGPU" class="form-label">Type: </label>
    <InputText class="form-control" id="formGroupNewGPU" placeholder="GPU Type" @bind-Value="gpu.Type">@gpu.Type</InputText>
    <br />
    <label for ="formGroupNewGPU" class="form-label">Parameter: </label>
    <InputText class="form-control" id="formGroupNewGPU" placeholder="GPU Parameter" @bind-Value="gpu.Parameter">@gpu.Parameter</InputText>
    <br />
    <label for="formGroupNewGPU" class="form-label">Expression: </label>
    <InputText class="form-control" id="formGroupNewGPU" placeholder="GPU Expression" @bind-Value="gpu.Expression">@gpu.Expression</InputText>
    <br />
    <label for="formGroupNewGPU" class="form-label">Description: </label>
    <InputText class="form-control" id="formGroupNewGPU" placeholder="GPU Description" @bind-Value="gpu.Destription">@gpu.Destription</InputText>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
    @if(Id != null)
    {
        <button onclick="DeleteGPU" type="button" class="btn btn-danger">Delete</button>
    }
</EditForm>

@code {
    [Parameter]
    public int? Id { get; set; }

    [SupplyParameterFromForm]
    GPU gpu { get; set; } = new GPU { Type = string.Empty, Parameter = string.Empty, Expression = string.Empty, Destription = string.Empty };

    protected override async Task OnParametersSetAsync()
    {
        gpu = await GPUService.GetGPUById((int)Id);
    }

    async Task HandleSubmit()
    {
        if(Id == null)
        {
            await GPUService.AddGPU(gpu);
        }
        else
        {
            await GPUService.EditGPU((int)Id, gpu);
        }

    }

    async Task DeleteGPU()
    {
        await GPUService.DeleteGPU((int)Id);
    }
}
